.radio-wrapper{
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.radio-inner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: .25rem;
  position: relative;

  & img {

    width: 1rem;
    height: 1rem;
  }

  & input{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0; /* tirar a bola do radio */
  }

  & input:hover{
    cursor: pointer;
  }

  .radio-image{
    flex: 0 0 1rem;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bulding{
    background-image: url(../../assets/icons/building-2.svg);
  }
  .video{
    background-image: url(../../assets/icons/video.svg);

  }

  &:has(:checked) .bulding{
    background-image: url(../../assets/icons/building-hover.svg);
  }

  &:has(:checked) .video{
    background-image: url(../../assets/icons/video-hover.svg);
  }

  &:has(:checked) label{
    color: var(--text-heading);
  }

  &:has(:checked){
    background-color: var(--shape-hover);
    transition: .7s;
    cursor: pointer;
  }
}
