#app{
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  padding: 1.25rem;
  background-color:var(--shape-background);
}

aside{
  width: 400px;
  height: 728px;
  position: relative;

  & .aside-container #ilustration{
    width: 100%;
    border-radius: .75rem;
  }

  & header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;

    & img {
      width: 2.86rem;
      padding-bottom: 1rem;
    }
  }

}

main{

}
